.wrapper {
    width: 80%;  
    margin:  23px auto;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1024px) {
    .filters {
      display: flex;
      flex-direction: row-reverse;
    }
  }